@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #222831 !important;
  color: #EEEEEE !important;
}

#logo-title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header {
  position: relative;
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  background-color: #111831;
}

.bar {
    float: left;
    left: 40%;
    width: 5px;
    border-radius: 5px;
    height: 50%;
    background-color: #EEEEEE;
    top: 100px;
    position: absolute;
}

#logo {
  width: 100px;
  height: 100px;
  margin: 20px;
}

#title {
  font-size: 3rem;
  padding-left: 30px;
}

#chall-title {
  margin-left: 10px;
}

#icon-select {
    float: left;
    left: 40%;
    position: absolute;
    margin-left: 40px;
    height: 50%;
    width: 40%;
    top: 100px;
}

#icons {
  position: relative;
  float: right;
  border-radius: 10px;
  padding: 10px;
  max-width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#icon {
  padding: 5px;
  margin: 5px;
  border-style: outset;
  border-color: darkgrey;
  background-color: rgb(255, 255, 255, 0.7);
}

#icon:hover {
    cursor: pointer;
}

#main-body {

}

#instructions {
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  padding: 20px;
  border: 2px solid #111111;
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
  max-width: 600px;
  min-width: 500px;
  width: 30%;
}

#competitions {
  float: left;
  display: flex;
  flex-direction: column;
  width: 60%;
}

#chall-select {
  position: relative;
  margin: 40px;
}

#cards { 
    position: relative;
    float: left;
    margin-top: 10px;
    margin-right: 10%;
}

#chall-card {
    border-width: 2px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    /*background-color: darkgrey;*/
    background-color: rgb(1,1,1,0.6);
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-blend-mode: darken;
    margin: 8px;
    font-size: 30px;
    color: #e4e4e4;
}

#buttons, #info{
  text-align: center;
}

h1{
  text-align: center;
}

#next{
  margin-left: 100px;
}


#center{
  text-align: center;
}

@media only screen and (max-width: 1050px) {
    #icons {
        display: none;
    }
}

@media only screen and (max-width: 1370px) {
    #instructions {
        display: none;
    }

    #competitions {
	width: 100%;
    }
}

